<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Favorit Restoran</title>
    <link rel="stylesheet" href="favorites.css" />
    <link rel="manifest" href="./app.webmanifest" />
  </head>
  <body>
    <a class="skip-link" href="#content">Skip to Content</a>

    <nav>
      <div class="logo">
        <a href="#">Dapur Salman's Fusion</a>
      </div>
      <button class="menu-toggle" aria-label="Toggle Menu">☰</button>
      <ul class="menu">
        <li><a href="index.html">Home</a></li>
        <li><a href="favorites.html">Favorite</a></li>
        <li>
          <a
            href="https://www.linkedin.com/in/muhamadsalmanardiyansyah/"
            target="_blank"
            >About Us</a
          >
        </li>
      </ul>
    </nav>

    <h2 id="content">Restoran Favorit</h2>

    <div class="favorite-list"></div>
    <br /><br /><br />
    <footer>
      <p>Copyright © 2024 - Dapur Salman's Fusion</p>
    </footer>

    <script src="favorites.js"></script>
  </body>
</html>
