<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dapur Salman's Fusion</title>
    <link rel="stylesheet" href="index.css" />
    <link rel="manifest" href="./app.webmanifest" />
  </head>
  <body>
    <a class="skip-link" href="#content" tabindex="1">Skip to Content</a>

    <nav>
      <div class="logo">
        <a href="#">Dapur Salman's Fusion</a>
      </div>
      <button class="menu-toggle" aria-label="Toggle Menu">☰</button>
      <ul class="menu">
        <li><a href="">Home</a></li>
        <li><a href="favorites.html">Favorite</a></li>
        <li>
          <a
            href="https://www.linkedin.com/in/muhamadsalmanardiyansyah/"
            target="_blank"
            >About Us</a
          >
        </li>
      </ul>
    </nav>

    <div class="hero">
      <img
        sizes="(max-width: 1350px) 100vw, 1350px"
        srcset="
          ./images/heros/hero-image-2/hero-image_2_xmrkqs_c_scale,w_200.jpg   200w,
          ./images/heros/hero-image-2/hero-image_2_xmrkqs_c_scale,w_453.jpg   453w,
          ./images/heros/hero-image-2/hero-image_2_xmrkqs_c_scale,w_626.jpg   626w,
          ./images/heros/hero-image-2/hero-image_2_xmrkqs_c_scale,w_833.jpg   833w,
          ./images/heros/hero-image-2/hero-image_2_xmrkqs_c_scale,w_923.jpg   923w,
          ./images/heros/hero-image-2/hero-image_2_xmrkqs_c_scale,w_1145.jpg 1145w,
          ./images/heros/hero-image-2/hero-image_2_xmrkqs_c_scale,w_1275.jpg 1275w,
          ./images/heros/hero-image-2/hero-image_2_xmrkqs_c_scale,w_1350.jpg 1350w
        "
        src="./images/heros/hero-image-2/hero-image_2_xmrkqs_c_scale,w_1350.jpg"
        alt=""
      />
    </div>

    <h2 id="content">Explore Restaurant</h2>

    <div class="restaurant-list"></div>

    <footer>
      <p>Copyright © 2024 - Dapur Salman's Fusion</p>
    </footer>

    <script src="index.js"></script>
  </body>
</html>
